@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 2.1s;
}

/* 追加ボタンを右揃えに */
.add-btn {
    float: right;
}

/* 編集ボタンを右揃えに */
.edit-btn {
    float: right;
}
